body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #031D44;
  color: white;
  height: 100vh;
}

button {
  background-color: #1b95e0;
  border-color: #1b95e0;
  color: white;
  font-size: 24px;
  padding: 8px;
}